body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

form{
    margin: 3rem auto;
    width: 90%;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

button{
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    background-color: rgb(59, 7, 155);
    color: white;
    border: 1px solid;
}


button :hover,
button :active{
    background-color: rgb(59, 7, 155) ;
    border-color: rgb(59, 7, 155);

}

.form-control{
    margin-bottom: 1rem;
}

.form-control input{
    font: inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid rgb(219, 216, 216);
    display: block;
    width: 10rem;
}

.form-control input:focus{
    border-color: rgb(5, 16, 116);
    outline: none;
    background-color:rgb(248, 201, 224) ;
}

.form-control label{
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.errorlist{
    list-style: none;
    margin: 0.5rem;
    padding: 0;
    color: rgb(92, 12, 12);
}

.errors input{
    border-color: rgb(92, 12, 12);
    background-color: rgb(214, 154, 154);
    
}

.errors label{
    color: rgb(92, 12, 12);
}